@import "tailwindcss";

@theme{
    --color-primary: #23A6F0;
    --color-secondary: #2A7CC7;
    --color-second-text-color: #737373;
    --color-blueBlack: #252b42
    --font-sans: 'Montserrat', sans-serif;
}

@utility section-space {
    @apply p-20 w-full
}
