html {
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

@import "tailwindcss";

@theme {
  --color-primary: #23a6f0;
  --color-secondary: #2a7cc7;
  --color-grayText: #737373;
  --color-blueBlack: #252b42;
  --color-mutedText: #bdbdbd;
  --font-sans: "Montserrat", sans-serif;
  --breakpoint-xl: 1377px;
}

@utility section-space {
  @apply py-20 w-full;
}

@utility heading-1 {
  @apply font-bold text-[58px] leading-20;
}

@utility heading-2 {
  @apply font-bold text-[40px] leading-[57px] tracking-[0.2px];
}

@utility heading-3 {
  @apply font-bold text-[24px] leading-8 tracking-[0.1px];
}

@utility heading-4 {
  @apply font-medium text-[20px] leading-[30px] tracking-[0.2px];
}

@utility heading-5 {
  @apply font-bold text-[16px] leading-6 tracking-[0.1px];
}

@utility heading-6 {
  @apply font-semibold text-[14px] leading-6 tracking-[0.2px];
}

@utility btn-text {
  @apply font-bold text-[14px] leading-7 tracking-[0.2px] text-center;
}

@utility paragraph {
  @apply text-sm font-medium leading-5 tracking-[0.2px];
}

@utility links {
  @apply font-bold text-sm leading-6 tracking-[0.2px];
}
@utility mobile-menu {
  @apply font-normal text-[30px] leading-[45px] tracking-[0.2px];
}
